@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Special+Gothic+Condensed+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html, body {
    background-color: #000;
    scroll-behavior: smooth
}

.bold {
    font-weight: bold;
}


/* -------------------------------------RESPONSIVE STYLES-------------------------------------------------- */



/* @media (max-width: 768px) {
    a{
    font-size: 0.1em;
}

.footer-phrase {
    width: 50%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

} */


/* -------------------------------------RESPONSIVE STYLES END-------------------------------------------------- */


/* WebKit: Chrome, Edge, Opera */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent !important; /* <- Forzamos la transparencia */
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.hidden {
    position: absolute;
    font-size: 1em;
    width: 1px;         
    height: 1px;
    padding: 0;
    margin: -1px;        
    overflow: hidden;
    clip: rect(0, 0, 0, 0);   
    white-space: nowrap;      
    border: 0;
}



